<% content_for :add do %>
  <div class="add pull-right">  <%= link_to "+ New Course", new_course_path %> </div>
<% end %>

<table class="table table-striped">
  <tr>
    <th> Courses </th>
  </tr>
  <% @courses.each do |x| %>
  <tr>
    <th> <%= link_to x.title , course_path(x) %> </th>
  </tr>
  <% end %>
</table>
